ACME_EMAIL=admin@nice-to-meet-u.com
APP_DOMAIN=nice-to-meet-u.com
WWW_APP_DOMAIN=www.nice-to-meet-u.com
STAGING_APP_DOMAIN=staging.nice-to-meet-u.com
LIVEKIT_DOMAIN=meet.nice-to-meet-u.com
STAGING_LIVEKIT_DOMAIN=meet-staging.nice-to-meet-u.com
